.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */

.subtitle {
  font-weight: bold;
  font-size: 11.0pt ;  font-family: Arial, Helvetica, sans-serif;
}

.plaintext {
  font-size: 11.0pt ;  font-family: Arial, Helvetica, sans-serif;
}
/* <span style="font-size: 10.0pt ; line-height: 150% ; font-family: &quot;arial&quot; , sans-serif" lang="EN-US">Ancient dyke</span> */